.header{
    height: --header-height;
    background-image: linear-gradient(180deg,#F94E2F, #ff7337);
}

.header__navbar-list{
    list-style: none;
    padding: 1.9px 1.9px 1.9px 0 ;
    margin: 4px 0 12px 0;
}

.header__navbar-item{
    margin-right: 10px; 
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover, .header__navbar-item-link:hover, .header__navbar-icon-link:hover{
    color: rgba(255,255,255,0.7);
    cursor:pointer;
}

.header__navbar-item, .header__navbar-item-link, .header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
.header__navbar{
    display: flex;
    height: --navbar-height;
    justify-content: space-between;
}

.header__navbar-item--separate::after{
    content: '';
    display: block;
    position: absolute;
    border-left: solid 2px #ff7337;
    opacity: 0.8;
    height: 12px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    /* ~ 18px */
    margin: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
}
.header__qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    content: "";
    display: block;
}
.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-link:nth-child(3){
    margin-left: 11px;
}

.header__qr-download-img{
    height: 15px;
    margin-top: 10px;
}

.header__qr-download-img-3{
    height: 13.5px;
    margin-top: 5px;
}

/* Header notification */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifGrowth ease-in .2s;
    will-change: opacity, transform;
    display: none;
}
.header__notify::before{
    content:"";
    border-style: solid;
    border-width: 12px 16px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -24px;
}

.header__notify::after{
    content:"";
    position: absolute;
    display: block;
    width: 90px;
    height: 15px;
    top: -15px;
    right: 0;
}
@keyframes headerNotifGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    margin: 0 0 0 12px;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    opacity: .5;
}
.header__notify-list{
    padding-left: 0;

}
.header__notify-item{
    display: flex;
}
#item-1 .header__notify-link{
    background-color: var(--white-color);
}

.header__notify-link{
    padding: 12px;
    display: flex;
    text-decoration: none;
    background-color: rgba(249,78,47, 0.05);
    width: 100%;
}
.header__notify-link:hover, #item-1 .header__notify-link:hover{
    background-color: rgba(97,97,97,0.06);
}
.header__notify-img{
    object-fit: contain;
    width: 40px;
}

.header__notify-info{
    margin-left: 12px;

}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: #323232;
    padding-bottom: 8px;
    margin-top: 2rem;
}
.header__notify-des{
    display: block;
    font-size: 1.2rem;
    color: #727272;
}

.header__notify-footer{
    text-align: center;
    height: 2.6rem;
    margin-top: 1.3rem;;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: #323232;
}

/* Modal */
.auth-form{
    display: flex;
    flex-direction: column;
}
.modal__inner-header{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.modal__inner-header-title{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    flex: 2.5;
}

.modal__inner-header-qr{
    border: 2px solid #FFBF00 /*rgb(255,191,0)*/;
    border-radius: 2px;
    flex: 3.5;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFBF00;
    background-color: #FEFAEC; /*rgb(254,250,236)*/
    height: 56px;
    line-height: 2px;
    padding-left: 25px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 18px;
    position: relative;
}
.modal__inner-header-qr::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 9px 9px;
    right: -9px;
    top: 15px;
    border-color:  #FFBF00 #FFBF00 transparent transparent;
    /*background-color: #FEFAEC;*/
    transform: rotate(45deg);
}

.modal__inner-header-qr-img{
    padding-right: 0;
    flex: 1;
    padding: 0;
}
.modal__inner-header-qr-logo{
    height: 40px;
    width: 40px;
}
.auth-form__body{
    align-items: center;
    margin-bottom: 37px;
}

.auth-form__body-method{
    display: flex;
    justify-content: space-between;
}

.auth-form__body-item{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 0 0;
    color: #0055AA; /*rgb(0,85,170)*/
}
.auth-form__input{
    height: 40px;
    display: block;
    width: 100%;
    padding-left: 12px;
    font-size: 1.5rem;
    margin-bottom: 30px;
    border-width: 0.5px;
    opacity: .7;
    border-color: rgba(0,0,0,0.2);
    border-radius: 2px;
}
/* Remove border-bold? (outline) when click */
.auth-form__input:focus{
    outline: 1px solid #999;
}

/* Remove crease - decrease button */
/* Chrome, Safari, Edge, Opera */
.auth-form__input::-webkit-outer-spin-button, 
.auth-form__input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.auth-form__input[type=number]{
    -moz-appearance: textfield;
}
/* ------------------------------------------- */
.auth-form__btn{
    height: 40px;
    width: 100%;
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: #EE4D2D;
    border: var(--white-color);
    border-radius: 2px;
    opacity: .7;
    cursor: no-drop;
}

.auth-form__input:focus .auth-form__btn{
    height: 40px;
    width: 100%;
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: #EE4D2D;
    border: var(--white-color);
    border-radius: 2px;
    opacity: .7;
    cursor: pointer;
}
.auth-form__info-link, .modal__inner-footer-link{
    color: #EE4D2D;
    text-decoration: none;
}
.modal__inner-footer{
    font-size: 1.5rem;
    position: absolute;
    right: 75px;
    bottom: 0;
}

.modal__inner-footer-login{
    font-size: 1.5rem;
    position: absolute;
    right: 60px;
    bottom: -10px;
}
.auth-form__info{
    font-size: 1.3rem;
    text-align: center;
    line-height: 20px;
    color: #222;
}


.auth-form__social-link{
    height: 42px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 30px;
}
.auth-form__social-link-login{
    height: 42px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 20px;
}
.auth-form__social-link-login-item{
    height: 100%;
    width: 120px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid black;
    display: flex;
    padding: 9px 20px 9px 15px;
    text-decoration: none;
    color: #000000;
    border-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form__social-link-item{
    height: 100%;
    width: 180px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid black;
    display: flex;
    padding: 9px 40px 9px 42px;
    text-decoration: none;
    color: #000000;
    border-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    display: flex;
    align-items: center;

}
.auth-form__social-link-item:hover{
    background-color: rgba(60,60,60,0.04);
}
.auth-form__social-link-img{
    height: 24px;
    border-radius: 10px;
    margin-right: 9px;
}

.modal__inner-footer-question{
    opacity: .3;
}

.auth-form__separator{
    display: flex; 
    justify-content: space-between; 
    padding-top: 8px;
    opacity: .5;
}
.auth-form__separator-login{
    display: flex; 
    justify-content: space-between; 
    padding-top: 0;
    opacity: .5;
    margin-top: -25px;
    margin-bottom: -10px;
}
.auth-form__separator-item{
    flex: 2;
}

.auth-form__separator-text{
    font-size: 1.2rem; 
    flex: 1; 
    text-align: center;
}

/*Header Tool*/
.header__tool{
   height: --header-tool-height;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 20px;
}

.header__logo{
    width: 150px;
}

.header__logo-item{
    width: 146px;
}

.header__search{
    background-color: var(--white-color);
    width: 850px;
    border-radius: 1px solid black;
    height: 40px;
    margin-left: 25px;
}
.header__search-input{
    /*width: 100%;*/
    height: 40px;
}
.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-icon{
    font-size: 25px;
    color: var(--white-color);
}